body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(214, 214, 214);
}

form {
    display: flex;
    flex-direction: column;
    width: 400px;
    scale: 2;
    background-color: white;
    padding: 10px;
    border-radius: 3%;
    border-bottom-right-radius: 25%;
}

.labels > label {
    padding-right: 30px;
}

button {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: rgb(220, 43, 220);
}

.number {
    color: rgb(220, 43, 220);
}

hr {
    width: 80%;
    margin-left: 0;
    float: left;
}
