div {
    background-color: goldenrod;
}

img {
    animation: spin infinite 20s linear;
}

@keyframes spin {
    0% {
        transform: rotate(0deg) scale(1);
    }
    25% {
        transform: rotate(180deg) scale(1.5);
    }
    50% {
        transform: rotate(360deg) scale(2);
    }
    75% {
        transform: rotate(180deg) scale(1.5);
    }
    100% {
        transform: rotate(0deg) scale(1);
    }
}