#blue {
    border-width: 2px 2px 4px 4px;
    border-bottom-left-radius: 100%;
    background-color: rgb(0, 0, 255);
}
#yellow {
    border-width: 2px 4px 4px 2px;
    border-bottom-right-radius: 100%;
    background-color: rgb(255, 255, 0);
}
#green {
    border-width: 4px 2px 2px 4px;
    border-top-left-radius: 100%;
    background-color: rgb(0, 128, 0);
}
#red {
    border-width: 4px 4px 2px 2px;
    border-top-right-radius: 100%;
    background-color: rgb(255, 0, 0);
}
.color {
    cursor: pointer;
    width: 290px;
    height: 290px;
    border-color: black;
    border-style: solid;
    float: left;
}
.color:hover {
    box-shadow: 0 0 20px black;
}
.container {
    width: 600px;
    height: 600px;
    margin: auto;
    position: relative;
}
#circle {
    position: absolute;
    top: 200px;
    left: 200px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: black;
    text-align: center;
    color: white;
    line-height: 100px;
}
#counter {
    border: 1px solid white;
    padding: 5px;
}
footer {
    text-align: center;
}
.active {
    opacity: 30%;
    box-shadow: 0 0 20px black;
}
#gameOver {
    display: none;
    position: absolute;
    bottom: 30px;
    left: 35px;
    font-size: 96px;
    width: 100vw;
    text-align: center;
}